<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.min.css" />
    <title>Company Contact</title>
</head>

<body>

    <!-- #region -->

    <!-- #endregion -->
    <div class="bg-[url('/public/components/Contacts/Contacts_Background.png')] h-70">
        <nav class="flex items-center justify-between flex-wrap pl-10 p-4 ">
            <div class="">
                <a class="" href="">
                    <img src="/public/components/AboutUs/Argus.svg" alt="Argus">
                </a>
            </div>
            <div class="flex items-center">
                <div class="group inline-block max-w-lg mx-auto ">
                    <button
                        class="body3  text-[#0F2637] pl-4 pr-4  hover:outline-none hover:underline hover:decoration-[#2C71F0] hover:font-bold hover:decoration-4 focus:outline-none focus:underline focus:decoration-[#2C71F0] focus:font-bold focus:decoration-4 focus:text-[#2C71F0]"
                        type="button" data-dropdown-toggle="dropdown">Choose Your Industry </button>
                    </button>

                    <ul class="absolute hidden text-gray-700 pt-1 bg-white text-base rounded shadow group-hover:block">
                        <li class="">
                            <a href="Financial_Services.html"
                                class="Roboto block px-4 py-2 hover:outline-none hover:underline hover:decoration-[#2C71F0] hover:font-bold hover:decoration-4 hover:text-[#2C71F0]">Financial
                                Services</a>
                        </li>
                        <li class="">
                            <a href="Digital_Assets.html"
                                class="Roboto block px-4 py-2 hover:outline-none hover:underline hover:decoration-[#2C71F0] hover:font-bold hover:decoration-4 hover:text-[#2C71F0]">Digital
                                Assets</a>
                        </li>
                        <li class="">
                            <a href="Professional_Services.html"
                                class="Roboto block px-4 py-2 hover:outline-none hover:underline hover:decoration-[#2C71F0] hover:font-bold hover:decoration-4 hover:text-[#2C71F0]">Professional
                                Services</a>
                        </li>
                    </ul>
                </div>
                <span class="body3 text-black">|</span>
                <div class="group inline-block max-w-lg mx-auto ">
                    <button
                        class="body3  text-[#0F2637] pl-4 pr-4  hover:outline-none hover:underline hover:decoration-[#2C71F0] hover:font-bold hover:decoration-4 focus:outline-none focus:underline focus:decoration-[#2C71F0] focus:font-bold focus:decoration-4 focus:text-[#2C71F0]"
                        type="button" data-dropdown-toggle="dropdown">Company </button>
                    </button>

                    <ul class="absolute hidden text-gray-700 pt-1 bg-white text-base rounded shadow group-hover:block">
                        <li class="">
                            <a href="AboutUs.html"
                                class="Roboto block px-4 py-2 hover:outline-none hover:underline hover:decoration-[#2C71F0] hover:font-bold hover:decoration-4 hover:text-[#2C71F0]">About
                                Us</a>
                        </li>
                        <li class="">
                            <a href="Company_Contact.html"
                                class="Roboto block px-4 py-2 hover:outline-none hover:underline hover:decoration-[#2C71F0] hover:font-bold hover:decoration-4 hover:text-[#2C71F0]">Contact
                                Us</a>
                        </li>
                    </ul>
                </div>
                <button
                    class="caption2 text-[#2C71F0] border border-solid border-[#2C71F0] rounded-xl font-bold rounded pb-2 pt-2 p-4 mr-10 hover:bg-[#2C71F0] hover:text-[#F4F6FB]">
                    Request a Demo
                </button>
            </div>
        </nav>
        <div class="grid grid-cols-2 gap-4">
            <div class="col-start-1 col-end-2 pt-16 pl-213 ">
                <div class="grid grid-rows-2">
                    <div class="rows-start-1 rows-end-2">
                        <h1 class="heading2 text-[#0F2637] pb-6">Get in touch</h1>
                        <p class="large3 text-[#0F2637] text-left ">Let’s talk compliance, let’s talk
                            regulation, </p>
                        <p class="large3 text-[#0F2637] text-left ">let’s talkwhat’s on your mind.</p>
                        <p class="large3  text-[#6499FC] text-left">We’re here to help and make
                            compliance
                        </p>
                        <p class="large3 text-[#6499FC] text-left ">how you win.</p>
                    </div>
                    <div class="rows-start-2 rows-end-3 self-end inline-flex pl-4">
                        <a href="" class="mr-2"><img src="../components/Contacts/Icon-Linkedin.svg"
                                alt="Icon-Linkedin"></a>
                        <a href=""><img src="../components/Contacts/Icon-Twitter.svg" alt="Icon-Twitter"></a>
                    </div>
                </div>
            </div>

            <div class=" col-start-2 col-end-3 sm:text-center lg:text-left">
                <!-- Recent added-->
                <!-- #region -->
                <form class="body3 w-full max-w-lg">
                    <div class="flex flex-wrap -mx-3 pt-16">
                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <input
                                class="appearance-none block w-full text-gray-700 border rounded rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                id="grid-first-name" type="text" placeholder="First Name*">
                        </div>
                        <div class="w-full md:w-1/2 px-3">
                            <input
                                class="appearance-none block w-full text-gray-700 border border-gray-200 rounded rounded-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-last-name" type="text" placeholder="Last Name*">
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3">
                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <input
                                class="appearance-none block w-full text-gray-700 border rounded rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                id="grid-first-name" type="text" placeholder="Work Email*">
                        </div>
                        <div class="w-full md:w-1/2 px-3">
                            <input
                                class="appearance-none block w-full text-gray-700 border border-gray-200 rounded rounded-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-last-name" type="text" placeholder="Work number*">
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3">
                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <input
                                class="appearance-none block w-full text-gray-700 border rounded rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                id="grid-first-name" type="text" placeholder="Company*">
                        </div>
                        <div class="w-full md:w-1/2 px-3">
                            <input
                                class="appearance-none block w-full text-gray-700 border border-gray-200 rounded rounded-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-last-name" type="text" placeholder="Job Title*">
                        </div>
                    </div>

                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full px-3">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-password">
                            </label>
                            <textarea
                                class="appearance-none resize-none block w-full h-160 text-gray-700 border border-gray-200 rounded rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-password" type="text" placeholder="Inquiry"></textarea>
                            <div class="inline-flex">
                                <input type="checkbox">
                                <p class="caption2 text-[#707B83] text-xs italic pl-2">I would like to receive updates
                                    and offers
                                    from
                                    Argus. I can unsubscribe at any time.</p>
                            </div>
                        </div>
                    </div>
                    <button class="body2 bg-[#6499FC] text-white font-bold rounded pb-2 pt-2 p-4">
                        Send Message
                    </button>
                </form>

                <!-- #endregion -->
            </div>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-4 bg-[#2C71F0]">
        <div class="col-start-1 col-end-2 ">
            <p class="heading3 pt-10 pb-10 pl-213 text-white">Subscribe to our mailing
                list</p>
        </div>
        <div class="col-start-2 col-end-3 self-center ">
            <form class="">
                <div class="inline-flex">
                    <input
                        class="body3 bg-[#F4F6FB] appearance-none  rounded-lg w-500 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="Email" type="text" placeholder="Enter your email">
                    <a class="p-2" href=""><img src="../components/Contacts/Vector.svg" alt="Send"></a>
                </div>
            </form>

        </div>
    </div>
    <footer class="bg-[#0F2637]">
        <div class="grid grid-cols-2 gap-4 ">
            <div class=" col-start-1 col-end-2 text-left self-center ">
                <div class="grid grid-cols-2">
                    <div class=" col-start-1 col-end-2 pl-213 pt-10 pb-10">
                        <h1 class="caption2 uppercase text-white pb-2 ">CHOOSE YOUR
                            INDUSTRY
                        </h1>
                        <p class="caption1 text-left text-white "> Financial Services</p>
                        <p class="caption1 text-left text-white">Digital Assets</p>
                        <p class="caption1 text-left text-white">Professional Services</p>
                    </div>
                    <div class="col-start-2 col-end-3 self-center ">
                        <div class="pt-10 pb-10">
                            <h1 class="caption2 upercase text-white pb-2">COMPANY
                            </h1>
                            <a class="hover:underline" href="">
                                <p class="caption1 text-left text-white ">About Us</p>
                            </a>
                            <a class="hover:underline" href="">
                                <p class="caption1 text-left text-white">Careers</p>
                            </a>
                            <a class="hover:underline" href="">
                                <p class="caption1 text-left text-white">Contact Us</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-start-2 col-end-3 self-center pr-32 pt-16" style="text-align-last: end">
                <div>
                    <div class="inline-flex pl-4 items-center">
                        <a href="" class="mr-2"><img src="../components/Contacts/Icon-Twitter-white.svg"
                                alt="Icon-Twitter"></a>
                        <a href="" class="mr-2"><img src="../components/Contacts/Icon-Linkedin-white.svg"
                                alt="Icon-Linkedin"></a>
                        <p class="footerArgus text-white">©ARGUS 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://unpkg.com/@themesberg/flowbite@latest/dist/flowbite.bundle.js"></script>
</body>

</html>