<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/output.css" rel="stylesheet">
    <title>Financial Services</title>
</head>

<body>
    <div class="bg-[url('/public/components/Financial_Services/Background.png')] bg-cover">

        <nav class="flex items-center justify-between flex-wrap pl-10 p-4 ">
            <div class="">
                <a class="" href="Landing_page.html">
                    <img src="/public/components/Financial_Services/Argus.svg" alt="Argus">
                </a>
            </div>
            <div class="flex items-center">
                <div class="group inline-block max-w-lg mx-auto ">
                    <button
                        class="body3 text-[#0F2637] px-4 py-4 text-grey Roboto block py-2 hover:text-black active:text-[#2C71F0]"
                        type="button" data-dropdown-toggle="dropdown">Choose Your Industry </button>
                    </button>

                    <ul
                        class="absolute hidden text-gray-700 pt-2 p-4 bg-white text-base rounded shadow group-hover:block">
                        <li
                            class="text-grey border-b-2 border-grey Roboto block py-2 hover:text-black hover:border-[#2C71F0] active:text-[#2C71F0]">
                            <a href="Financial_Services.html" class="">Financial
                                Services</a>
                        </li>
                        <li
                            class="text-grey border-b-2 border-grey Roboto block py-2 hover:text-black hover:border-[#2C71F0] active:text-[#2C71F0]">
                            <a href="Digital_Assets.html" class="">Digital
                                Assets</a>
                        </li>
                        <li
                            class="text-grey border-b-2 border-grey Roboto block py-2 hover:text-black hover:border-[#2C71F0] active:text-[#2C71F0]">
                            <a href="Professional_Services.html" class="">Professional
                                Services</a>
                        </li>
                    </ul>
                </div>
                <span class="body3 text-black">|</span>
                <div class="group inline-block max-w-lg mx-auto ">
                    <button class="body3 text-[#0F2637] px-4 py-4 text-grey Roboto block py-2 hover:text-black"
                        type="button" data-dropdown-toggle="dropdown">Company </button>
                    </button>

                    <ul
                        class="absolute hidden text-gray-700 pt-2 p-4 bg-white text-base rounded shadow group-hover:block">
                        <li
                            class="text-grey border-b-2 border-grey Roboto block py-2 hover:text-black hover:border-[#2C71F0] active:text-[#2C71F0] ">
                            <a href="AboutUs.html" class="AboutUs.html">About
                                Us</a>
                        </li>
                        <li
                            class="text-grey border-b-2 border-grey Roboto block py-2 hover:text-black hover:border-[#2C71F0] active:text-[#2C71F0]">
                            <a href="Company_Contact.html" class="">Contact
                                Us</a>
                        </li>
                    </ul>
                </div>
                <button
                    class="caption2 text-white border border-solid border-white rounded-xl font-bold rounded pb-2 pt-2 p-4 mr-10 hover:bg-white hover:text-[#2C71F0]">
                    Request a Demo
                </button>
            </div>
        </nav>

        <div class="pl-28 p-40">
            <p class="body3 uppercase text-white">chose your industry</p>
            <h1 class="heading1 text-[#0F2637] pt-3">Argus for</h1>
            <h1 class="heading1 text-white pb-10">Financial Services</h1>
            <p class="large1 mr-96 text-white">Build best-in-class SEC, FINRA, and FCA Code of Ethics compliance</p>
            <p class="large1 mr-96 text-white">controls to <span class="large2">minimize risk</span> and impress
                regulators</p>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4 my-28 mx-28">

        <div class="col-start-1 col-end-2 sm:text-center lg:text-left justify-self-center">
            <img src="/public/components/Financial_Services/Asset1.svg">
        </div>
        <img class="absolute justify-self-center" src="/public/components/Financial_Services/Asset_bar.png">
        <div class="col-start-2 col-end-3 pl-24 pr-40 sm:text-center lg:text-left ">
            <p class="caption2 uppercase text-[#8E8E8E]">Argus personal account dealing</p>
            <h1 class="heading3 text-[#0F2637] py-4">The intuitive way to implement your policies</h1>
            <div class="inline-flex items-baseline">
                <img class="pr-2" src="/public/components/Financial_Services/Polygon1.svg">
                <p class="body2 text-[#0F2637] pb-2 inline-grid">Integrate over 5,000 brokerage accounts (plus crypto
                    exchanges and wallets) for real time monitoring, with PDF and OCR support where no feed exists</p>
            </div>
            <div class="inline-flex items-baseline pb-3">
                <!-- in 'auto-cols-max' use max if paragraph cant fill 1 line in (1600x900) use 'auto' otherwise -->
                <img class=" pr-2" src="/public/components/Financial_Services/Polygon1.svg">
                <p class="body2 text-[#0F2637] pb-2 inline-grid">Pre-clear trades across all major exchanges globally
                </p>
            </div>
            <div class="inline-flex items-baseline pb-3">
                <img class=" pr-2" src="/public/components/Financial_Services/Polygon1.svg">
                <p class="body2 text-[#0F2637] pb-2 inline-grid">Manage your restricted list with maximum flexibility
                    and customization</p>
            </div>
            <a class="caption2 uppercase text-[#2C71F0]" href="#">Learn more <span class="inline-flex pl-2"><img
                        src="/public/components/Financial_Services/Arrow1.svg"></span></a>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4 my-28 mx-28">
        <img class="absolute justify-self-center" src="/public/components/Financial_Services/Asset_Bar.png">
        <div class="col-start-1 col-end-2 pl-24 pr-40 sm:text-center lg:text-left ">
            <p class="caption2 uppercase text-[#8E8E8E]">Argus private investments and outside business interests</p>
            <h1 class="heading3 text-[#0F2637] py-4">Private investing and activity now in its context</h1>
            <div class="inline-flex items-baseline">
                <img class=" pr-2" src="/public/components/Financial_Services/Polygon1.svg">
                <p class="body2 text-[#0F2637] pb-2 inline-grid">Leverage our best-in-class private companies database
                    for contextual reviews</p>
            </div>
            <div class="inline-flex items-baseline">
                <img class=" pr-2" src="/public/components/Financial_Services/Polygon1.svg">
                <p class="body2 text-[#0F2637] pb-2 inline-grid">Understand the organizations where your employees sit
                    on boards, volunteer, and are involved</p>
            </div>
            <div class="inline-flex items-baseline pb-3">
                <img class=" pr-2" src="/public/components/Financial_Services/Polygon1.svg">
                <p class="body2 text-[#0F2637] pb-2 inline-grid">Get proactive alerts on emerging conflicts from private
                    investing and outside business interests against your restricted list</p>
            </div>
            <a class="caption2 uppercase text-[#2C71F0]" href="#">Learn more <span class="inline-flex pl-2"><img
                        src="/public/components/Financial_Services/Arrow1.svg"></span></a>
        </div>
        <div class="col-start-2 col-end-3 sm:text-center lg:text-left justify-self-center">
            <img src="/public/components/Financial_Services/Asset2.svg">
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mb-10 mt-28 mx-28">
        <div class="col-start-1 col-end-2 sm:text-center lg:text-left justify-self-center">
            <img src="/public/components/Financial_Services/Asset3.svg">
        </div>
        <img class="absolute justify-self-center" src="/public/components/Financial_Services/Asset_Bar.png">
        <div class="col-start-2 col-end-3 pl-24 pr-40 sm:text-center lg:text-left ">
            <p class="caption2 uppercase text-[#8E8E8E]">Argus political donations</p>
            <h1 class="heading3 text-[#0F2637] py-4">Seamless compliance for donations</h1>
            <div class="inline-flex items-baseline">
                <img class=" pr-2" src="/public/components/Financial_Services/Polygon1.svg">
                <p class="body2 text-[#0F2637] pb-2 inline-grid">Largest database of campaigns and PACs to make
                    pre-clearance seamless and approval rapid</p>
            </div>
            <div class="inline-flex items-baseline pb-3">
                <!-- use max if paragraph cant fill 1 line in (1600x900) use 'auto' otherwise -->
                <img class=" pr-2" src="/public/components/Financial_Services/Polygon1.svg">
                <p class="body2 text-[#0F2637] pb-2 inline-grid">Automated checks against public data sources to
                    identify undeclared donations</p>
            </div>
            <a class="caption2 uppercase text-[#2C71F0]" href="#">Learn more <span class="inline-flex pl-2"><img
                        src="/public/components/Financial_Services/Arrow1.svg"></span></a>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4 my-28 mx-28">
        <img class="absolute justify-self-center" src="/public/components/Financial_Services/Asset_Bar.png">
        <div class="col-start-1 col-end-2 pl-24 pr-40 sm:text-center lg:text-left ">
            <p class="caption2 uppercase text-[#8E8E8E]">Argus gifts</p>
            <h1 class="heading3 text-[#0F2637] py-4">The first data-driven approach to gifts controls</h1>
            <div class="inline-flex items-baseline">
                <img class=" pr-2" src="/public/components/Financial_Services/Polygon1.svg">
                <p class="body2 text-[#0F2637] pb-2 inline-grid">Drive compliance through clear gift approval workflows
                    for employees</p>
            </div>
            <div class="inline-flex items-baseline pb-3">
                <img class=" pr-2" src="/public/components/Financial_Services/Polygon1.svg">
                <p class="body2 text-[#0F2637] pb-2 inline-grid">Utilize our analytics backend to spot suspicious trends
                    over time and by gift</p>
            </div>
            <a class="caption2 uppercase text-[#2C71F0]" href="#">Learn more <span class="inline-flex pl-2"><img
                        src="/public/components/Financial_Services/Arrow1.svg"></span></a>
        </div>
        <div class="col-start-2 col-end-3 sm:text-center lg:text-left justify-self-center">
            <img src="/public/components/Financial_Services/Asset4.svg">
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4 mb-10 mt-28 mx-28">
        <div class="col-start-1 col-end-2 sm:text-center lg:text-left justify-self-center">
            <img src="/public/components/Financial_Services/Asset3.svg">
        </div>
        <img class="absolute justify-self-center" src="/public/components/Financial_Services/Asset_Bar.png">
        <div class="col-start-2 col-end-3 pl-24 pr-40 sm:text-center lg:text-left ">
            <p class="caption2 uppercase text-[#8E8E8E]">Argus analytics</p>
            <h1 class="heading3 text-[#0F2637] py-4">Underpinned by true analytics</h1>
            <div class="inline-flex items-baseline">
                <img class=" pr-2" src="/public/components/Financial_Services/Polygon1.svg">
                <p class="body2 text-[#0F2637] pb-2 inline-grid">Deploy machine-learning analysis to bring risks to
                    light and identify otherwise unknown infractions before the regulator finds them</p>
            </div>
            <div class="inline-flex items-baseline pb-3">
                <img class=" pr-2" src="/public/components/Financial_Services/Polygon1.svg">
                <p class="body2 text-[#0F2637] pb-2 inline-grid">See across modules with a single repository of data,
                    allowing risk profiles to be built from multiple sources</p>
            </div>
            <a class="caption2 uppercase text-[#2C71F0]" href="#">Learn more <span class="inline-flex pl-2"><img
                        src="/public/components/Financial_Services/Arrow1.svg"></span></a>
        </div>
    </div>

    <div class="bg-[url('/public/components/Contacts/Contacts_Background.png')] h-70">
        <div class="grid grid-cols-2 gap-4">
            <div class="col-start-1 col-end-2 pt-16 pl-213 ">
                <div class="grid grid-rows-2">
                    <div class="rows-start-1 rows-end-2">
                        <h1 class="heading2 text-[#0F2637] pb-6">Get in touch</h1>
                        <p class="large3 text-[#0F2637] text-left ">Let’s talk compliance, let’s talk
                            regulation, </p>
                        <p class="large3 text-[#0F2637] text-left ">let’s talkwhat’s on your mind.</p>
                        <p class="large3 font-bold text-[#6499FC] text-left">We’re here to help and make
                            compliance
                        </p>
                        <p class="large3 font-bold text-[#6499FC] text-left ">how you win.</p>
                    </div>
                </div>
            </div>

            <div class=" col-start-2 col-end-3 sm:text-center lg:text-left">
                <!-- Recent added-->
                <!-- #region -->
                <form class="body3 w-full max-w-lg">
                    <div class="flex flex-wrap -mx-3 pt-16">
                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <input
                                class="appearance-none block w-full text-gray-700 border border-gray-200 rounded rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                id="grid-first-name" type="text" placeholder="First Name*">
                        </div>
                        <div class="w-full md:w-1/2 px-3">
                            <input
                                class="appearance-none block w-full text-gray-700 border border-gray-200 rounded rounded-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-last-name" type="text" placeholder="Last Name*">
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3">
                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <input
                                class="appearance-none block w-full text-gray-700 border border-gray-200 rounded rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                id="grid-first-name" type="text" placeholder="Work Email*">
                        </div>
                        <div class="w-full md:w-1/2 px-3">
                            <input
                                class="appearance-none block w-full text-gray-700 border border-gray-200 rounded rounded-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-last-name" type="text" placeholder="Work number*">
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3">
                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <input
                                class="appearance-none block w-full text-gray-700 border border-gray-200 rounded rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                id="grid-first-name" type="text" placeholder="Company*">
                        </div>
                        <div class="w-full md:w-1/2 px-3">
                            <input
                                class="appearance-none block w-full text-gray-700 border border-gray-200 rounded rounded-lg py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-last-name" type="text" placeholder="Job Title*">
                        </div>
                    </div>

                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full px-3">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-password">
                            </label>
                            <textarea
                                class="appearance-none resize-none block w-full h-160 text-gray-700 border border-gray-200 rounded rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-password" type="text" placeholder="Inquiry"></textarea>
                            <div class="inline-flex">
                                <input type="checkbox">
                                <p class="caption2 text-[#707B83] text-xs italic pl-2">I would like to receive updates
                                    and offers
                                    from
                                    Argus. I can unsubscribe at any time.</p>
                            </div>
                        </div>
                    </div>
                    <button class="body2 bg-[#6499FC] text-white font-bold rounded pb-2 pt-2 p-4">
                        Send Message
                    </button>
                </form>

                <!-- #endregion -->
            </div>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-4 bg-[#2C71F0]">
        <div class="col-start-1 col-end-2 ">
            <p class="pt-10 pb-10 pl-213 font-light text-footer text-[#FFFFFF]">Subscribe to our mailing list</p>
        </div>
        <div class=" col-start-2 col-end-3 self-center ">
            <form class="">
                <div class="inline-flex">
                    <input
                        class="body3 bg-[#6499FC] placeholder:text-white appearance-none border-[#6499FC] rounded-lg w-500 py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
                        id="Email" type="text" placeholder="Enter your email">
                    <a class="p-2" href=""><img src="../components/Contacts/Vector.svg" alt="Send"></a>
                </div>
            </form>

        </div>
    </div>
    <footer class="bg-[#0F2637]">
        <div class="grid grid-cols-2 gap-4 ">
            <div class=" col-start-1 col-end-2 text-left self-center ">
                <div class="grid grid-cols-2">
                    <div class=" col-start-1 col-end-2 pl-213 pt-10 pb-10">
                        <h1 class="caption2 uppercase text-white pb-2 ">CHOOSE YOUR
                            INDUSTRY
                        </h1>
                        <p class="caption1 text-left text-white "> Financial Services</p>
                        <p class="caption1 text-left text-white">Digital Assets</p>
                        <p class="caption1 text-left text-white">Professional Services</p>
                    </div>
                    <div class="col-start-2 col-end-3 self-center ">
                        <div class="pt-10 pb-10">
                            <h1 class="caption2 upercase text-white pb-2">COMPANY
                            </h1>
                            <a class="hover:underline" href="">
                                <p class="caption1 text-left text-white ">About Us</p>
                            </a>
                            <a class="hover:underline" href="">
                                <p class="caption1 text-left text-white">Careers</p>
                            </a>
                            <a class="hover:underline" href="">
                                <p class="caption1 text-left text-white">Contact Us</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-start-2 col-end-3 self-center pr-32 pt-16" style="text-align-last: end">
                <div>
                    <div class="inline-flex pl-4 items-center">
                        <a href="" class="mr-2"><img src="../components/Contacts/Icon-Twitter-white.svg"
                                alt="Icon-Twitter"></a>
                        <a href="" class="mr-2"><img src="../components/Contacts/Icon-Linkedin-white.svg"
                                alt="Icon-Linkedin"></a>
                        <p class="footerArgus text-white">©ARGUS 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>