<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/output.css" rel="stylesheet">
    <title>Company Contact</title>
</head>

<body>
    <!-- #region -->

    <!-- #endregion -->
    <div class="bg-[url('/public/components/Financial_Services/Financial_Services_Background.png')] h-70 bg-cover">
        <nav class="flex items-center justify-between flex-wrap pl-10 p-4 ">
            <div class="">
                <a class="" href="">
                    <img src="/public/components/Financial_Services/Argus_white.svg" alt="Argus">
                </a>
            </div>
            <div class="flex items-center">
                <a href="">
                    <p class="body3 text-white pr-4">Choose Your Industry</p>
                </a>
                <a href="">
                    <p class="body3 text-white font-bold pl-4 pr-4">Company</p>
                </a>
                <button
                    class="caption2 text-white border border-solid border-white rounded-xl font-bold rounded pb-2 pt-2 p-4 mr-10">
                    Request a Demo
                </button>
            </div>
        </nav>
        <div class="pt-24 pl-32">
            <p class="body3 text-white pb-4">Choose Your Industry</p>
            <p class="heading1 text-[#0F2637]  ">Argus for</p>
            <p class="heading1 text-white pb-10">Financial Services</p>
            <p class="large1 text-white">Build best-in-class SEC, FINRA, and FCA Code of Ethics compliance controls
                to</p>
            <p class="large1 text-white">minimize risk and impress regulators</p>
        </div>
    </div>
</body>