<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/output.css" rel="stylesheet">
    <title>Landing page</title>
</head>

<body>
    <!-- #region -->

    <!-- #endregion -->
    <div class="bg-[url('/public/components/Landing_Page/Landing_Page_Background.png')] h-70">
        <nav class="flex items-center justify-between flex-wrap p-4">
            <div>
                <a href="">
                    <p class="uppercase font-extrabold text-Argus font-Argus pl-10"> Argus</p>
                </a>
            </div>
            <div class="flex items-center">
                <a href="">
                    <p class="font-Lato pr-4">Choose Your Industry</p>
                </a>
                <a href="">
                    <p class="font-bold font-Lato pl-4 pr-4">Company</p>
                </a>
                <button
                    class=" text-[#2C71F0] border border-solid border-[#2C71F0] rounded-xl font-bold rounded pb-2 pt-2 p-4 mr-10">
                    Request a Demo
                </button>
            </div>
        </nav>

        <div class="pt-24" style="text-align-last: center">
            <p class="font-bold text-7xl text-[#0F2637] font-DmSerif ">Employee Code of Ethics </p>
            <p class="font-bold text-7xl text-[#0F2637] font-DmSerif pb-10">compliance built for today</p>
            <p class="font-normal text-body text-left font-Lato">We're the next generation of employee Code of Ethics
                compliance, whether</p>
            <p class="font-normal text-body text-left font-Lato">you’re a broker-dealer, a crypto exchange, or a law
                firm.</p>
            <p class="font-bold text-body text-[#2C71F0] text-left font-Lato pb-10">Reduce risk, save time, and join us
                in the
                future of compliance.</p>
            <button
                class=" text-white border border-solid bg-[#2C71F0] border-[#2C71F0] rounded-xl font-bold rounded pb-4 pt-4 p-10">
                Request a Demo
            </button>
        </div>
    </div>
    <div class="grid grid-cols-3 gap-4 bg-[#2C71F0] justify-items-center">
        <div class="col-start-1 col-end-2 place-self-end">
            <p class="pt-10 pl-213 font-light text-footer font-DmSerif text-[#FFFFFF]">Backed by leading</p>
            <p class="pb-10 pl-213 font-light text-footer font-DmSerif text-[#FFFFFF]">venture firms:</p>
        </div>
        <div class=" col-start-2 col-end-3 self-center ">
            <div class="inline-flex items-center">
                <a class="p-2" href=""><img src="../components/Landing_Page/Logo-Y.svg" alt="Logo Y"> </a>
                <p class="upercase text-white text-body font-DmSerif tracking-wider">Combinator</p>
                <a class="pl-16" href=""><img src="../components/Landing_Page/Logo-cvr.svg" alt="Logo CVR"></a>
            </div>
        </div>
        <div class="col-start-3 col-end-4 self-center place-self-start">
            <p class="pt-10 font-light text-LandingPageBody font-Lato text-[#FFFFFF] ">Founders, CEO’s, and CCO’s from
                some of the</p>
            <p class="font-light text-LandingPageBody font-Lato text-[#FFFFFF]">world’s most valuable
                fintechs, regtechs, and</p>
            <p class="pb-10 font-light text-LandingPageBody font-Lato text-[#FFFFFF]">crypto companies. </p>
        </div>
    </div>
    <div class="bg-[#0F2637] " style="text-align-last: center">
        <p class="pt-6 pb-6 font-bold text-body font-Lato text-[#FFFFFF]">Argus is changing how employees
            comply, and
            how firms help them to do so.</p>
    </div>








    </div>
</body>