<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/output.css" rel="stylesheet">
    <title>Landing page</title>
</head>

<body>
    <!-- #region -->

    <!-- #endregion -->
    <div class="bg-[url('/public/components/Landing_Page/Landing_Page_Background.png')] h-70">
        <nav class="flex items-center justify-between flex-wrap p-4">
            <div>
                <a href="">
                    <p class="uppercase font-extrabold text-Argus font-Argus pl-10"> Argus</p>
                </a>
            </div>
            <div class="flex items-center">
                <a href="">
                    <p class="font-Lato pr-4">Choose Your Industry</p>
                </a>
                <a href="">
                    <p class="font-bold font-Lato pl-4 pr-4">Company</p>
                </a>
                <button
                    class=" text-[#2C71F0] border border-solid border-[#2C71F0] rounded-xl font-bold rounded pb-2 pt-2 p-4 mr-10">
                    Request a Demo
                </button>
            </div>
        </nav>

        <div class="pt-24" style="text-align-last: center">
            <p class="font-bold text-7xl text-[#0F2637] font-DmSerif ">Employee Code of Ethics </p>
            <p class="font-bold text-7xl text-[#0F2637] font-DmSerif pb-10">compliance built for today</p>
            <p class="font-normal text-body text-left font-Lato">We're the next generation of employee Code of Ethics
                compliance, whether</p>
            <p class="font-normal text-body text-left font-Lato">you’re a broker-dealer, a crypto exchange, or a law
                firm.</p>
            <p class="font-bold text-body text-[#2C71F0] text-left font-Lato pb-10">Reduce risk, save time, and join us
                in the
                future of compliance.</p>
            <button
                class=" text-white border border-solid bg-[#2C71F0] border-[#2C71F0] rounded-xl font-bold rounded pb-4 pt-4 p-10">
                Request a Demo
            </button>
        </div>
    </div>
    <div class="grid grid-cols-3 gap-4 bg-[#2C71F0] justify-items-center">
        <div class="col-start-1 col-end-2 place-self-end">
            <p class="pt-10 pl-213 font-light text-footer font-DmSerif text-[#FFFFFF]">Backed by leading</p>
            <p class="pb-10 pl-213 font-light text-footer font-DmSerif text-[#FFFFFF]">venture firms:</p>
        </div>
        <div class=" col-start-2 col-end-3 self-center ">
            <div class="inline-flex items-center">
                <a class="p-2" href=""><img src="../components/Landing_Page/Logo-Y.svg" alt="Logo Y"> </a>
                <p class="upercase text-white text-body font-DmSerif tracking-wider">Combinator</p>
                <a class="pl-16" href=""><img src="../components/Landing_Page/Logo-cvr.svg" alt="Logo CVR"></a>
            </div>
        </div>
        <div class="col-start-3 col-end-4 self-center place-self-start">
            <p class="pt-10 font-light text-LandingPageBody font-Lato text-[#FFFFFF] ">Founders, CEO’s, and CCO’s from
                some of the</p>
            <p class="font-light text-LandingPageBody font-Lato text-[#FFFFFF]">world’s most valuable
                fintechs, regtechs, and</p>
            <p class="pb-10 font-light text-LandingPageBody font-Lato text-[#FFFFFF]">crypto companies. </p>
        </div>
    </div>
    <div class="bg-[#0F2637] " style="text-align-last: center">
        <p class="pt-6 pb-6 font-bold text-body font-Lato text-[#FFFFFF]">Argus is changing how employees
            comply, and
            how firms help them to do so.</p>
    </div>
    <div class="pt-28" style="text-align-last: center">

        <p class="font-bold text-7xl text-[#0F2637] font-DmSerif">Unlock tech-forward risk control </p>
        <p class="font-normal text-body text-[#45515C] font-Lato pt-6">Full-stack Code of Ethics compliance to</p>
        <p class="font-normal text-body text-[#45515C] font-Lato">operationalize your policies via next-gen
            tech</p>
    </div>
    <div class=" grid grid-flow-col grid-cols-5 justify-items-center pt-16">
        <div
            class=" col-start-1 col-end-3 place-self-end border border-solid border-slate-200/50 border-4 rounded-xl p-8">
            <img src="../components/Landing_Page/LeftTech.png" alt="Tech">
            <p class="upercase text-[#0F2637] text-body font-Lato tracking-wider">SEC, FCA, and FINRA trade</p>
            <p class="upercase text-[#0F2637] text-body font-Lato tracking-wider">compliance</p>
            <p class="pt-2 font-light text-LandingPageBody font-Lato text-[#0F2637]">Track personal account dealing
                across</p>
            <p class="font-light text-LandingPageBody font-Lato text-[#0F2637]">brokerages, crypto exchanges and
            </p>
            <p class="font-light text-LandingPageBody font-Lato text-[#0F2637]">wallets, and beyond</p>
        </div>
        <div class="col-start-3 col-end-4 border border-solid border-slate-200/50 border-4 rounded-xl p-8">
            <img src="../components/Landing_Page/MiddleTech.png" alt="Tech">
            <p class="upercase text-[#0F2637] text-body font-Lato tracking-wider">Private investments and </p>
            <p class="upercase text-[#0F2637] text-body font-Lato tracking-wider">outside business interests</p>
            <p class="pt-2 font-light text-LandingPageBody font-Lato text-[#0F2637]">Streamline approval processes
                with
                the</p>
            <p class="font-light text-LandingPageBody font-Lato text-[#0F2637]">data you need from extensive private
            </p>
            <p class="font-light text-LandingPageBody font-Lato text-[#0F2637]">company integrations</p>
        </div>
        <div
            class="col-start-4 col-end-6 place-self-start border border-solid border-slate-200/50 border-4 rounded-xl p-8">
            <img src="../components/Landing_Page/RightTech.png" alt="Tech">
            <p class="upercase text-[#0F2637] text-body font-Lato tracking-wider">Political donations</p>
            <p class="upercase text-[#0F2637] text-body font-Lato tracking-wider">& gifts</p>
            <p class="pt-2 font-light text-LandingPageBody font-Lato text-[#0F2637]">Ensure your donation and gift
                policies</p>

            <p class="font-light text-LandingPageBody font-Lato text-[#0F2637]">are followed, with pre-clearance</p>
            <p class="font-light text-LandingPageBody font-Lato text-[#0F2637]">and database sweeps</p>
        </div>
    </div>
    <div class="bg-[#0F2637] justify-items-center pt-16 ">
        <p class="font-bold text-7xl text-[#FFFFFF] font-DmSerif" style="text-align-last: center">Why Argus</p>
        <div class="grid grid-cols-2 grid-rows-2 gap-10 justify-items-center  pt-16">
            <div class="inline-flex col-start-1 col-end-2 rows-start-1 rows-end-2 place-self-end p-6">
                <div class="justify-self-end pr-6">
                    <img src="../components/Landing_Page/World.svg" alt="World">
                </div>
                <div class="">
                    <p class="font-semibold text-white text-Argus font-DmSerif tracking-wider">Global brokerage </p>
                    <p class="font-semibold text-white text-Argus font-DmSerif tracking-wider">coverage</p>
                    <p class="text-white text-base font-Lato tracking-wider pt-4">Monitor your employee’s
                        transactions
                    </p>
                    <p class="text-white text-base font-Lato tracking-wider"> in real-time without the
                        need for</p>
                    <p class="text-white text-base font-Lato tracking-wider"> PDFs or manual checks
                        across 5,000+</p>
                    <p class="text-white text-base font-Lato tracking-wider"> brokerages
                    </p>
                </div>
            </div>
            <div class="inline-flex col-start-2 col-end-3 rows-start-1 rows-end-2 place-self-start p-6">
                <div class="justify-self-end pr-6">
                    <img src="../components/Landing_Page/Unique_Crypto_Coverage.svg" alt="Unique_Crypto_Coverage">
                </div>
                <div class="">
                    <p class="font-semibold text-white text-Argus font-DmSerif tracking-wider">Unique crypto
                    </p>
                    <p class="font-semibold text-white text-Argus font-DmSerif tracking-wider">coverage</p>
                    <p class="text-white text-base font-Lato tracking-wider pt-4">Track 100+ centralised exchanges</p>
                    <p class="text-white text-base font-Lato tracking-wider">and all wallets across 16 blockchains</p>
                </div>
            </div>
            <div class="inline-flex col-start-1 col-end-2 rows-start-2 rows-end-3 justify-self-end p-6">
                <div class="pr-6">
                    <img src="../components/Landing_Page/Graphic.svg" alt="Graphic">
                </div>
                <div class="">
                    <p class="font-semibold text-white text-Argus font-DmSerif tracking-wider">Analytics</p>
                    <p class="text-white text-base font-Lato tracking-wider pt-4">Get AML and insider trading insights
                    </p>
                    <p class="text-white text-base font-Lato tracking-wider">from your data to control risk, rather</p>
                    <p class="text-white text-base font-Lato tracking-wider">than leaving it dormant</p>
                    </p>
                </div>
            </div>

            <div class="inline-flex col-start-2 col-end-3 rows-start-2 rows-end-3 place-self-start p-6">
                <div class=" pr-6">
                    <img src="../components/Landing_Page/Employee.svg" alt="Employee">
                </div>
                <div class="">
                    <p class="font-semibold text-white text-Argus font-DmSerif tracking-wider">Employee</p>
                    <p class="font-semibold text-white text-Argus font-DmSerif tracking-wider">experience</p>
                    <p class="text-white text-base font-Lato tracking-wider pt-4">Make your employees happy with the
                    </p>
                    <p class="text-white text-base font-Lato tracking-wider">UX/UI they’ve come to expect from</p>
                    <p class="text-white text-base font-Lato tracking-wider">company software </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-[#F4F6FB] justify-items-center pt-16 ">
        <p class="font-bold text-7xl text-[#0F2637] font-DmSerif " style="text-align-last: center">Choose your Industry
        </p>


    </div>

</body>