<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/output.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="bg-[url('/public/components/Page3_Background.png')]">
        <div class="pl-28 p-40">
            <p class="uppercase text-Page3_Firstcontent_1 text-white">chose your industry</p>
            <h1 class="text-Page3_Firstcontent_2 text-white">Argus for</h1>
            <h1 class="text-Page3_Firstcontent_2 text-[#2C71F0]">Digital Assets</h1>
            <p class="text-Page3_Firstcontent_3 mr-96 text-white">Monitor and control employee Code of Ethics behavior for today’s best practice, and tomorrow’s regulation
                Argus for Digital Assets</p>
        </div>
    </div>

    <div class="grid grid-cols-2 grid-rows-3 gap-4 mt-28 mb-28">
        <div class="col-start-1 col-end-2 row-start-1 row-end-2 sm:text-center lg:text-left justify-self-center">
            <img src="/public/components/Page3_Assets.png">
        </div>
        <img class="absolute justify-self-center" src="/public/components/Page3_bar.png">
        <div class="col-start-2 col-end-3 row-start-1 row-end-2 pl-24 sm:text-center lg:text-left ">
            <p>Argus personal account dealing</p>
            <h1>The intuitive way to implement your policies</h1>
            <p>Integrate over 100 exchanges plus wallets on 16 blockchains for real time monitoring of all transactions (coins, NFT’s, liquidity, staking)</p>
            <p>Manage your restricted list with maximum flexibility and customization</p>
            <a href="#">Learn more</a>
        </div>
        <div>
            
        </div>
        <div class=" col-start-1 col-end-2 row-start-2 row-end-3 sm:text-center lg:text-left ">
            <img class="absolute justify-self-center" src="/public/components/Page3_bar.png">
            <p>Argus personal account dealing</p>
            <h1>The intuitive way to implement your policies</h1>
            <p>Integrate over 100 exchanges plus wallets on 16 blockchains for real time monitoring of all transactions (coins, NFT’s, liquidity, staking)</p>
            <p>Manage your restricted list with maximum flexibility and customization</p>
            <a href="#">Learn more</a>
        </div>
        
        <div class=" col-start-2 col-end-3 row-start-2 row-end-3 sm:text-center lg:text-left ">
            <p>sads</p>
        </div>
        <div class=" col-start-1 col-end-2 row-start-3 row-end-4 sm:text-center lg:text-left ">
            <p>sads</p>
        </div>
        <img class="absolute justify-self-center" src="/public/components/Page3_bar.png">
        <div class=" col-start-2 col-end-3 row-start-3 row-end-4 sm:text-center lg:text-left ">
            <p>sads</p>
        </div>
    </div>


    <div class="bg-[url('/public/components/Contacts_Background.png')] h-70">
        <div class="grid grid-cols-2 gap-4">
            <div class=" col-start-1 col-end-2 sm:text-center lg:text-left ">
                <div class="pt-32 pl-213">
                    <h1 class="font-normal text-headings xl:inline">Get in touch</h1>
                    <p class="font-light text-body text-left">Let’s talk compliance, let’s talk regulation, </p>
                    <p class="font-light text-body text-left">let’s talkwhat’s on your mind.</p>
                    <p class="font-bold text-body text-[#6499FC] text-left">We’re here to help and make compliance</p>
                    <p class="font-bold text-body text-[#6499FC] text-left">how you win.</p>
                </div>
            </div>
            <div class=" col-start-2 col-end-3 sm:text-center lg:text-left">
                <!-- Recent added-->
                <!-- #region -->
                <form class="w-full max-w-lg">
                    <div class="flex flex-wrap -mx-3 mb-6 pt-32">
                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-first-name">
                                First Name
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                id="grid-first-name" type="text" placeholder="Jane">
                            <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                        </div>
                        <div class="w-full md:w-1/2 px-3">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-last-name">
                                Last Name
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-last-name" type="text" placeholder="Doe">
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full px-3">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-password">
                                Password
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-password" type="password" placeholder="******************">
                            <p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p>
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-2">
                        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-city">
                                City
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-city" type="text" placeholder="Albuquerque">
                        </div>
                        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-state">
                                State
                            </label>
                            <div class="relative">
                                <select
                                    class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                    id="grid-state">
                                    <option>New Mexico</option>
                                    <option>Missouri</option>
                                    <option>Texas</option>
                                </select>
                                <div
                                    class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20">
                                        <path
                                            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-zip">
                                Zip
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="grid-zip" type="text" placeholder="90210">
                        </div>
                    </div>
                </form>

                <!-- #endregion -->
            </div>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-4 bg-[#2C71F0]">
        <div class="col-start-1 col-end-2 ">
            <p class="pt-10 pb-10 pl-213 font-light text-footer text-[#FFFFFF]">Subscribe to our mailing list</p>
        </div>
        <div class=" col-start-2 col-end-3 self-center ">
            <form class="">
                <div class="inline-flex">
                    <input
                        class="bg-[#F4F6FB appearance-none  rounded-lg w-500 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="Email" type="text" placeholder="Entrer your email">
                    <a class="p-2" href=""><img src="../components/Vector.svg" alt="Send"></a>
                </div>
            </form>

        </div>
    </div>
    <footer class="bg-[#0F2637]">
        <div class="grid grid-cols-2 gap-4 ">
            <div class=" col-start-1 col-end-2 text-left self-center ">
                <div class="grid grid-cols-2">
                    <div class=" col-start-1 col-end-2 pl-213 pt-10 pb-10">
                        <h1 class="font-extrabold text-SecondFooter text-white pb-2 ">CHOOSE YOUR INDUSTRY</h1>
                        <p class="font-medium text-SecondFooter text-left text-white "> Financial Services</p>
                        <p class=" font-medium text-SecondFooter text-left text-white">Digital Assets</p>
                        <p class="font-medium text-SecondFooter text-left text-white">Professional Services</p>
                    </div>
                    <div class=" col-start-2 col-end-3 self-center ">
                        <div class="pt-10 pb-10">
                            <h1 class="font-extrabold text-SecondFooter text-white pb-2">COMPANY </h1>
                            <p class="font-medium text-SecondFooter text-left text-white "> About Us</p>
                            <p class=" font-medium text-SecondFooter text-left text-white">Careers</p>
                            <p class="font-medium text-SecondFooter text-left text-white">Contact Us
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-start-2 col-end-3 self-center ">
            </div>
        </div>
    </footer>
</body>

</html>